<p>create-event works!</p>

<!-- create-event.component.html -->

<div>
    <h2>Create Event</h2>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <label for="eventName">Event Name:</label>
      <input type="text" id="eventName" formControlName="eventName" required>
  
      <label for="date">Date:</label>
      <input type="date" id="date" formControlName="date" required>
  
      <label for="time">Time:</label>
      <input type="text" id="time" formControlName="time" required>
  
      <label for="location">Location:</label>
      <input type="text" id="location" formControlName="location" required>
  
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" required></textarea>
  
      <button type="submit">Create Event</button>
    </form>
  </div>
  
